<p-dialog [header]="'Información del cliente'" [(visible)]="visibleClient" [modal]="true" showEffect="fade"
    [style]="{width: '35vw', height: '50%'}">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="nombreCliente" class="font-semibold w-6rem">Nombre</label>
        <input pInputText id="nombreCliente" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="identificacionCliente" class="font-semibold w-6rem">Identificaci&oacute;n</label>
        <input pInputText id="identificacionCliente" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem">Fecha de ingreso</label>
        <p-calendar [showIcon]="true" [showOnFocus]="false" inputId="buttondisplay" class="flex-auto"
            autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="identificacionCliente" class="font-semibold w-6rem">Estatus</label>
        <p-dropdown [options]="statuses" optionLabel="label"></p-dropdown>
    </div>
    <p-divider type="solid" />
    <div class="flex justify-content-end flex-column sm:flex-row">
        <button pButton label="Guardar" class="p-button m-2"></button>
        <button pButton label="Cancelar" class="p-button-outlined m-2"></button>
    </div>
</p-dialog>