<p-dialog #dialogEmpresa closable="true" header="Empresas" [(visible)]="mostrarFindEmpresas">
    <div class="flex align-items-end">
        <div #divIdEmpresa class="m-2">
            <label for="idEmpresa" class="font-bold block mb-2">ID</label>
            <input [(ngModel)]="empresaDefault.id" pInputText type="text" name="idEmpresa" id="idEmpresa" placeholder="Buscar ID" pInputText>
        </div>
        <div #divDescripcionEmpresa class="m-2">
            <label for="descripcionEmpresa" class="font-bold block mb-2">Empresa</label>
            <input [(ngModel)]="empresaDefault.valor" pInputText type="text" name="descripcionEmpresa" id="descripcionEmpresa" placeholder="Buscar nombre de empresa" pInputText>
        </div>
        <div #DivBotonBuscar class="m-2">
            <button pRipple pButton value="Buscar" (click)="findEmpresas()">Buscar</button>
        </div>
    </div>

    <div #divTabla class="pt-3 text-align-center" *ngIf="visibleTable">
        <span [style]="{width: '26vw'}" for="idcategoria" class=" font-bold block mb-3"> Da doble click para selecionar una empresa</span>
        <p-table [value]="listEmpresas" selectionMode="single" [(selection)]="empresaSeleccionada">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 2rem">Id </th>
                    <th style="min-width: 3rem">Empresa</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empresa>
                <tr [pSelectableRow]="empresa" [pSelectableRowIndex]="rowIndex" (dblclick)="seleccionarCerrar()">
                    <td>{{ empresa.id }}</td>
                    <td>{{ empresa.valor }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">Sin resultados</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando categorias...</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>